@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


body {
    font-family: "Space Grotesk", system-ui, sans-serif;
    font-size: 20px;
    max-width: 900px;
    padding-top: 180px;
    margin: 0 auto;
}

.status {
    display: inline-block;
    background: #f0f0f0;
    color: #555;
    padding: 6px 12px;
    border-radius: 99999px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(7px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.StickyHeader {
    height: 5rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.5s;
}

.StickyHeader:hover {
    opacity: 0.7;
}

.titel {
    color: #14181f;
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.subtitle {
    color: #676f7e;
    font-size: 1.5rem;
    line-height: 2rem;
}

.ContactMe {
    font-family: "Space Grotesk", system-ui, sans-serif;
    background-color: #14181f;
    color: white;
    font-weight: 500;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 9999px;
    margin: 0.5rem;
}

.AboutMe {
    font-family: "Space Grotesk", system-ui, sans-serif;
    background-color: #f4f5f6;
    color: #14181f;
    font-weight: 500;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 9999px;
    margin: 0.5rem;
}

.ContactMe:hover {
    font-family: "Space Grotesk", system-ui, sans-serif;
    background-color: #222;
    transform: scale(1.05);
    font-weight: 700;
}

.AboutMe:hover {
    font-family: "Space Grotesk", system-ui, sans-serif;
    background-color: #222;
    transform: scale(1.05);
    font-weight: 700;
}

.subtitle a {
    color: #777e8b;
    text-decoration: none;
}

.bio {
    color: #777e8b;
}